src/main/mule/payment-status.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="payment-statusFlow" doc:id="54be86fe-7706-4ad0-81f5-98c7f3677dc8" >
		<ee:transform doc:name="Transform Message" doc:id="42441043-1d82-4ba7-8530-ab252b78cb75" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="payment-statusBatch_Job" doc:id="76c14eab-1d27-42fa-916c-06d46da29df5" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a6a798ab-4e5a-40a3-bedc-d8e4be67db6e" acceptExpression='payload.table == "payment_status"'>
					<ee:transform doc:name="Transform Message" doc:id="fac9290a-e7fa-4df2-9ec4-c2877e0c5fa0" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload - 'export_bit' - 'table']]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="ae7d841c-acb6-475e-b863-327914ada541" size="10">
						<ee:transform doc:name="Transform Message" doc:id="f47e82ae-1a81-4103-8f67-6c9a09c6fce8" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<db:bulk-insert doc:name="Bulk insert" doc:id="0514e3fc-77fd-4d29-bbf7-b706b478bc68" config-ref="Database_Config">
							<db:sql ><![CDATA[INSERT INTO migration.payment_status(user_id, order_id, status, amount, payment_mode) VALUES(:user_id, :order_id, :status, :amount, :payment_mode)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="77756196-c11e-401d-9948-bf17d656239c" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
