src/main/mule/users.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="usersFlow" doc:id="d41ef726-0e76-4599-8e89-415133b31ccd" >
		<ee:transform doc:name="Transform Message" doc:id="ba5c1e27-e856-4aaf-abbe-10c76fe78f8d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="usersBatch_Job" doc:id="539250ec-aaef-496b-b66c-bbfcffd8f374" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="ddcfab44-afc8-4af3-8388-f57ec21eb8ed" acceptExpression="payload.first_name != null">
					<ee:transform doc:name="Transform Message" doc:id="381eb7c4-c426-4a95-a4c1-451c0de1a7b1" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"user_id" : payload.user_id as String,
	"first_name" : payload.first_name as String,
	"last_name" : payload.last_name as String,
	"email" : payload.email as String,
	"active" : payload.active as Number,
	"created" : payload.created	
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="606b84c3-84b1-4f4a-95e0-b4d380aa6f73" size="2">
						<ee:transform doc:name="Transform Message" doc:id="18ab44b2-3368-4e2f-acb7-c16f253aec4a" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	user_id: payload01.user_id,
	created: payload01.created,
	last_name: payload01.last_name,
	active: payload01.active as Number,
	first_name: payload01.first_name,
	email: payload01.email
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<db:bulk-insert doc:name="Bulk insert" doc:id="81a704de-41cc-457f-9b7d-7899b767b778" config-ref="Database_Config">
							<db:sql><![CDATA[INSERT INTO migration.users(user_id, first_name, last_name, email, active, created) VALUES(:user_id, :first_name, :last_name, :email, :active, :created)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<logger level="INFO" doc:name="Logger" doc:id="9c3ace43-32b1-40fe-8441-b670219a883b" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
