src/main/mule/users.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="usersFlow" doc:id="d41ef726-0e76-4599-8e89-415133b31ccd" >
		<ee:transform doc:name="Transform Message" doc:id="9382722e-c9b9-4efe-8d43-a7d5bff02b24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="usersBatch_Job" doc:id="340648f0-d1bd-4c5f-ad99-a1be5df9b1e3" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a5762565-5aa5-43ce-bbb6-ab46f74947a7" acceptExpression='payload.table == "users"'>
					<ee:transform doc:name="Transform Message" doc:id="be790578-43b9-4293-91a5-95071e3e8a67" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload - 'export_bit' - 'table' - 'column_8']]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="e8c42ee8-a630-49ee-b52f-f4feaea952b5" size="10">
						<ee:transform doc:name="Transform Message" doc:id="be86fed7-030c-4fc5-ac23-0b5c3152abe5" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<db:bulk-insert doc:name="Bulk insert" doc:id="81a704de-41cc-457f-9b7d-7899b767b778" config-ref="Database_Config">
							<db:sql><![CDATA[INSERT INTO migration.users(user_id, first_name, last_name, email, active, created) VALUES(:user_id, :first_name, :last_name, :email, :active, :created)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="6ada4e07-5544-44b2-ad2f-0eb4e6a71daa" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
