src/main/mule/user-orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="user-ordersFlow" doc:id="d3958efa-8ac6-41fe-9909-3b303ab6b442" >
		<ee:transform doc:name="Transform Message" doc:id="0cd22342-c9d0-4dbb-9c51-43ff847e5c76" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="user-ordersBatch_Job" doc:id="2a5a5ab4-2b80-463c-aa25-d485ad34827c" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="a81d2c50-9de4-4b82-a186-742c590b48c8" acceptExpression='payload.table == "user_orders"'>
					<ee:transform doc:name="Transform Message" doc:id="2ddea350-8f08-4ae8-8f54-f3654a008ac5" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload - 'export_bit' - 'table']]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="2cf49538-e0dc-4ca1-a286-c7267214286e" size="10">
						<ee:transform doc:name="Transform Message" doc:id="bb6649f6-97ab-4660-8a5e-ab5d8964baa5" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<db:bulk-insert doc:name="Bulk insert" doc:id="75890453-78b1-4438-acae-f6906c674fac" config-ref="Database_Config">
							<db:sql ><![CDATA[INSERT INTO migration.user_orders(user_id, order_id, total, order_date) VALUES(:user_id, :order_id, :total, :order_date)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="ecf2849e-bb28-48e1-a3d5-a9fe03060ff1" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
