src/main/mule/user-order-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="user-order-detailsFlow" doc:id="9d8b6435-063e-464f-9351-51fff8041006" >
		<ee:transform doc:name="Transform Message" doc:id="004d3e1f-e882-4c10-8d3e-21f1e6cfefc4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="user-order-detailsBatch_Job" doc:id="9e8b3503-5260-43c4-86cf-37454137e524" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="46aa5c3b-ffb1-48e5-bb2b-0c4385b795a6" acceptExpression='payload.table == "user_order_details"'>
					<ee:transform doc:name="Transform Message" doc:id="a4fab84f-f278-47e2-a1b2-97442e2c8571" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload - 'export_bit' - 'table']]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="54323d70-ee7c-425c-899f-2d81d8cdc4b0" size="10">
						<ee:transform doc:name="Transform Message" doc:id="1fe5f611-ab1e-4c1b-bae9-6abfe458431b" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<db:bulk-insert doc:name="Bulk insert" doc:id="2abf4f42-2071-4895-a33b-6248610883fd" config-ref="Database_Config">
							<db:sql ><![CDATA[INSERT INTO migration.user_order_details(user_id, order_id, item, price, quantity, total, order_date) VALUES(:user_id, :order_id, :item, :price, :quantity, :total, :order_date)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="fa23f8ea-cb99-47ba-bf0b-8e09334789ab" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
